.f-w_300 {
    font-weight: 300;
}
.f-w_400 {
    font-weight: 400;
}
.f-w_500 {
    font-weight: 500;
}
.f-w_600 {
    font-weight: 600;
}
.f-w_700 {
    font-weight: 700;
}
.f-w_700 {
    font-weight: 800;
}
