/* Modular scale – ratio: 1.125 */

.f-s_12 {font-size: 4.11em;}

.f-s_11 {font-size: 3.653em;}

.f-s_10 {font-size: 3.247em;}

.f-s_9 {font-size: 2.7em;}

.f-s_8 {font-size: 2.566em;}

.f-s_7 {font-size: 2.281em;}

.f-s_6 {font-size: 2.027em;}

.f-s_5 {font-size: 1.802em;}

.f-s_4 {font-size: 1.602em;}

.f-s_3 {font-size: 1.424em;}

.f-s_2 {font-size: 1.266em;}

.f-s_1 {font-size: 1.125em;}

.f-s_0 {font-size: 1em;}

.f-s_-1 {font-size: 0.889em;}

.f-s_-2 {font-size: 0.79em;}

.f-s_-3 {font-size: 0.702em;}
