// MARGIN TOP
.m-t_025 {
    margin-top: 0.25em;
}
.m-t_050 {
    margin-top: 0.5em;
} 
.m-t_075 {
    margin-top: 0.75em;
}
.m-t_100 {
    margin-top: 1em;
}
.m-t_125 {
    margin-top: 1.25em;
}
.m-t_150 {
    margin-top: 1.5em;
}
.m-t_175 {
    margin-top: 1.75em;
}
.m-t_200 {
    margin-top: 2em;
}
.m-t_225 {
    margin-top: 2.25em;
}
.m-t_250 {
    margin-top: 2.5em;
}
.m-t_275 {
    margin-top: 2.75em;
}
.m-t_300 {
    margin-top: 3em;
}
// MARGIN RIGHT
.m-r_025 {
    margin-right: 0.25em;
}
.m-r_050 {
    margin-right: 0.5em;
} 
.m-r_075 {
    margin-right: 0.75em;
}
.m-r_100 {
    margin-right: 1em;
}
.m-r_125 {
    margin-right: 1.25em;
}
.m-r_150 {
    margin-right: 1.5em;
}
.m-r_175 {
    margin-right: 1.75em;
}
.m-r_200 {
    margin-right: 2em;
}
.m-r_225 {
    margin-right: 2.25em;
}
.m-r_250 {
    margin-right: 2.5em;
}
.m-r_275 {
    margin-right: 2.75em;
}
.m-r_300 {
    margin-right: 3em;
}
// MARGIN BOTTOM
.m-b_025 {
    margin-bottom: 0.25em;
}
.m-b_050 {
    margin-bottom: 0.5em;
} 
.m-b_075 {
    margin-bottom: 0.75em;
}
.m-b_100 {
    margin-bottom: 1em;
}
.m-b_125 {
    margin-bottom: 1.25em;
}
.m-b_150 {
    margin-bottom: 1.5em;
}
.m-b_175 {
    margin-bottom: 1.75em;
}
.m-b_200 {
    margin-bottom: 2em;
}
.m-b_225 {
    margin-bottom: 2.25em;
}
.m-b_250 {
    margin-bottom: 2.5em;
}
.m-b_275 {
    margin-bottom: 2.75em;
}
.m-b_300 {
    margin-bottom: 3em;
}
// MARGIN LEFT
.m-l_025 {
    margin-left: 0.25em;
}
.m-l_050 {
    margin-left: 0.5em;
} 
.m-l_075 {
    margin-left: 0.75em;
}
.m-l_100 {
    margin-left: 1em;
}
.m-l_125 {
    margin-left: 1.25em;
}
.m-l_150 {
    margin-left: 1.5em;
}
.m-l_175 {
    margin-left: 1.75em;
}
.m-l_200 {
    margin-left: 2em;
}
.m-l_225 {
    margin-left: 2.25em;
}
.m-l_250 {
    margin-left: 2.5em;
}
.m-l_275 {
    margin-left: 2.75em;
}
.m-l_300 {
    margin-left: 3em;
}
// MARGIN 
.m_025 {
    margin: 0.25em;
}
.m_050 {
    margin: 0.5em;
} 
.m_075 {
    margin: 0.75em;
}
.m_100 {
    margin: 1em;
}
.m_125 {
    margin: 1.25em;
}
.m_150 {
    margin: 1.5em;
}
.m_175 {
    margin: 1.75em;
}
.m_200 {
    margin: 2em;
}
.m_225 {
    margin: 2.25em;
}
.m_250 {
    margin: 2.5em;
}
.m_275 {
    margin: 2.75em;
}
.m_300 {
    margin: 3em;
}
// MARGIN X (RIGHT & LEFT)
.m-x_025 {
    margin-right: 0.25em;
    margin-left: 0.25em;
}
.m-x_050 {
    margin-right: 0.5em;
    margin-left: 0.5em;
} 
.m-x_075 {
    margin-right: 0.75em;
    margin-left: 0.75em;
}
.m-x_100 {
    margin-right: 1em;
    margin-left: 1em;
}
.m-x_125 {
    margin-right: 1.25em;
    margin-left: 1.25em;
}
.m-x_150 {
    margin-right: 1.5em;
    margin-left: 1.5em;
}
.m-x_175 {
    margin-right: 1.75em;
    margin-left: 1.75em;
}
.m-x_200 {
    margin-right: 2em;
    margin-left: 2em;
}
.m-x_225 {
    margin-right: 2.25em;
    margin-left: 2.25em;
}
.m-x_250 {
    margin-right: 2.5em;
    margin-left: 2.5em;
}
.m-x_275 {
    margin-right: 2.75em;
    margin-left: 2.75em;
}
.m-x_300 {
    margin-right: 3em;
    margin-left: 3em;
}
// MARGIN Y (TOP & BOTTOM)
.m-y_025 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.m-y_050 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
} 
.m-y_075 {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
.m-y_100 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.m-y_125 {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}
.m-y_150 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.m-y_175 {
    margin-top: 1.75em;
    margin-bottom: 1.75em;
}
.m-y_200 {
    margin-top: 2em;
    margin-bottom: 2em;
}
.m-y_225 {
    margin-top: 2.25em;
    margin-bottom: 2.25em;
}
.m-y_250 {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
.m-y_275 {
    margin-top: 2.75em;
    margin-bottom: 2.75em;
}
.m-y_300 {
    margin-top: 3em;
    margin-bottom: 3em;
}
