// text-decoration
.t-a_n {
    text-decoration: none;
}
// list-style
.l-s-t_n {
    list-style-type: none;
}
// text-align
.t-a_l {
    text-align: left;
}
.t-a_c {
    text-align: center;
}
.t-a_r {
    text-align: right;
}